*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: #fff;
      
}
.header{
    width: 100%;
    height: 100vh;
}
.logo{
    width: 80px;
    cursor: pointer;
    align-items: flex-center;
}
nav{
  
    background-color: #121212;
    border: 100%;
    outline: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    color: white;
    padding: 7px 20px;
    font-size: 15px;
    /*border-radius: 4px;
    /*margin-left: 10px;*/
    cursor: pointer;
}
.menu{
    font-size: 150;
    height: 3vh;
    width: 90px;
    background-color: #121212;
    color: white;
    font-weight: 600;
    font-size: 17.5px;
}
.menu i {
    color: white;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}

.search-select {
    background-color: #f3f3f3;
    width: 100px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    font-weight: 600;
    font-size: 15px;
}
.search-select:hover{
    background-color: #f5f5dc;
}

.search-input {
    width: 100%;
    font-size: 1rem;
}
.searchbar{
    width: 800px; 
}
.nav-search:hover{
    border: 2px solid #f5c518;
}
.watchlist{
    font-size: 50;
    height: 3vh;
    width: 80px;
    background-color: #121212;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
.sign_in{
    font-size: 50;
    height: 3vh;
    width: 80px;
    background-color: #121212;
    color: white;
    font-weight: 600;
    font-size: 16px;
    
}
.english{
    font-size: 50;
    height: 3vh;
    width: 35px;
    background-color: #121212;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
.search-icon {
    width: 50px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: #f5c518;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0f1111;
}
.menu:hover{
    color: #f5c518;
}
.menu i:hover{
    color:  #f5c518;
}
.watchlist:hover{
    color: #f5c518;
}
.sign_in:hover{
    color: #f5c518;
}
.english:hover{
    color: #f5c518;
}

/* header content */
@keyframes slide {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
}

.content img{
    height: 200px;
    width: 250px;
    padding: 30px 5px;
    scroll-behavior: smooth;
    transition: 1s ease;
}
.content{
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

.content:hover .content-slide{
    animation-play-state: paused;
}
.content img:hover{
    height: 300px;
    width: 400px;
}
.content:before,
.content:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.content:before {
  left: 0;
}

.content:after {
  right: 0;
}
.content h2{
    padding-top: 20px;
    padding-left: 45%;
    padding-right: 45%;
    color: burlywood;
}
.content-slide{
    display: inline-block;
    animation: 35s slide infinite linear;
    /*white-space: nowrap;*/
}
.content-slide img{
    height: 200px;
    width: 250px;
    /*box-sizing: border-box;*/
    padding: 30px 5px;
}


#col1 {
    width: 19%;
    padding: 8px;
    text-align: center;
    font-weight: 700;
}
#col2 {
    padding: 8px;
    width: 100%;
    font-size: 16px;
}

#table {
    margin: 50px;
    border: #f3f3f3;
    border: 1px;
    border-width: 500px;
    box-shadow: 1px 1px 20px 3px #888787;
    border-radius: 5px;
    
}

#container h2{
    margin: 15px auto;
    font-family: "Roboto" "Helvetica" sans-serif;
}

#movie-name {
    font-weight: 700;
    font-size: 30px;
    padding: 20px;
    font-family: "Roboto" "Helvetica" sans-serif;
}
#movie-name:hover {
    color: burlywood;
}

#odd {
    background-color: #000;
}
#even {
    background-color: #0f1111;
}

#col2:hover {
    background-color: #434343;
}
.sentiment {
    color: rgb(11, 241, 11);
}
