<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MARS</title>
        <link rel="icon" href ="/static/images/mars_with_black_bg.jpg"></link>
        <link rel="stylesheet" href="/static/style.css"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
    </head>

    
    <body>
        <div class="header">
            <nav>
                <img src="/static/images/marslogo2-removebg-preview.png" class="logo" alt="logo">
                
                    <div class="menu">
                        <i class="fa-solid fa-bars"></i>
                            Menu
                    </div>
                    <div class="nav-search">
                        <select class="search-select">
                            <option>All</option>
                        </select>
                        <input class="searchbar" type="text" placeholder=" Search MARS..." id="movie"> </input>
                        <div class="search-icon">
                            <i class="fa-solid fa-magnifying-glass" style="color: black;" onclick="submitMovie()"></i>
                        </div> 
                    </div>
                    
                    
                    
                    <p class="watchlist"><span >Watchlist</span></p>
                    <p class="sign_in"><span >Sign In</span></p>
                    <p class="english"><span >English</span></p>
                    
                   
            </nav>
        
        <div class="content">
                <h2><b>TOP MOVIES</b></h2>
                <div class="content-slide">
                    <img src="/static/images/jjk.webp"/>
                    <img src="/static/images/inception.webp"/>
                    <img src="/static/images/peakyBlinders.jpg"/>
                    <img src="/static/images/spiritedaway.webp"/>
                    <img src="/static/images/got.jpeg"/>
                    <img src="/static/images/dostana.webp"/>
                    <img src="/static/images/thedarkknight.jpeg"/>
                </div>
                <div class="content-slide">
                    <img src="/static/images/jjk.webp"/>
                    <img src="/static/images/inception.webp"/>
                    <img src="/static/images/peakyBlinders.jpg"/>
                    <img src="/static/images/spiritedaway.webp"/>
                    <img src="/static/images/got.jpeg"/>
                    <img src="/static/images/dostana.webp"/>
                    <img src="/static/images/thedarkknight.jpeg"/>
                </div>
        </div>
        
            
        
    </body>
    <script src = "/static/index.js"></script>
</html>